.scrollarea-content {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;

  &:focus {
    outline: 0;
  }
}

.scrollarea {
  overflow: hidden;
  position: relative;

  .scrollbar-container {
    &--horizontal {
      bottom: 0;
      height: 10px;
      left: 0;
      width: 100%;

      .scrollbar {
        background-color: #000;
        height: 8px;
        margin: 1px 0 0;
        width: 20px;
      }
    }

    &--vertical {
      height: 100%;
      right: 0;
      top: 0;
      width: 10px;

      .scrollbar {
        background-color: #000;
        height: 20px;
        margin: 0 0 0 1px;
        width: 8px;
      }
    }
    background-color: none;
    opacity: 0.1;
    position: absolute;
    z-index: 9999;
    -webkit-transition: background-color linear 0.4s, opacity linear 0.4s;
    -moz-transition: background-color linear 0.4s, opacity linear 0.4s;
    -ms-transition: background-color linear 0.4s, opacity linear 0.4s;
    -o-transition: background-color linear 0.4s, opacity linear 0.4s;
    transition: background-color linear 0.4s, opacity linear 0.4s;

    &:hover {
      background-color: gray;
      opacity: 0.6;
    }

    &--active {
      background-color: gray;
      opacity: 0.6;
    }
  }

  &:hover .scrollbar-container {
    opacity: 0.3;
  }
}
