html,
body,
#main {
  height: 100%;
}
body {
  margin: 0;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: normal;
}
body .container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  background: white;
  padding: 20px;
}
body .area {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  background: #e5e5e5;
}
body .area .content {
  width: 400px;
}
body .area .content .item {
  background: #82bb95;
  width: 180px;
  height: 70px;
  margin: 10px;
  float: left;
  padding: 8px;
  box-sizing: border-box;
}
body .area ul {
  width: 700px;
}
